


.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;

  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: rgb(38, 184, 9);
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.checkbox {
  border-radius: 50%;
}
.option-input.checkbox::after {
  border-radius: 50%;
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: box;
  background: #e8ebee;
  color: #9faab7;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-align: center;
}
body div {
  padding: 5rem;
}
body label {
  display: block;
  line-height: 40px;
}

.todo-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-duration: 0.3s;
  cursor: pointer;

}

.remove-item {
  cursor: pointer;
  margin-left: 14px;
  font-size: 35px;
  &:hover {
    color: rgb(199, 10, 10);
  }
}

.todo-item-left { // later
  display: flex;
  align-items: center;

}

.todo-item-label {
  padding: 10px;
  border: 1px solid white;
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;

  &:hover {
    color: black;
    font-weight:bolder;
    text-shadow: 0 0 2px black;

  }
}


.completed {
  text-decoration: line-through;
  color: grey;
}
